**/.DS_Store
/public/js
/node_modules
/target
/yarn.lock
/package-lock.json
/.shadow-cljs
/*.iml
/.nrepl-port
/.idea
/public/css/
/.calva
/tmp
.hgignore
.hg/
.lsp
.clj-kondo/.cache
.clj-kondo/imports
.calva
.vscode
.idea
.cpcache
