
{:theme
 {:design-tokens
  [:--sans-serif-font-stack                 "Inter, system-ui, sans-serif"
   :--serif-font-stack                      "'Source Serif 4', Times, serif"
   :--code-font-stack                       "'JetBrains Mono', 'Fira Code', monospace"
   :--primary-font-family                   :$sans-serif-font-stack
   :--code-font-size                        :0.875em
   :--code-color                            :$accent-850
   :--code-background-color                 :$accent-50
   :--code-color-inverse                    :$neutral-100
   :--code-background-color-inverse         :$accent-900
   :--howlite-blue                          :#00adef
   :--deep-fuscsia                          :#ec018b
   :--canary-yellow                         :#fef200
   :--tooltip-color                         :$gray50
   :--tooltip-background-color              :transparent]
  
  :ui
  ["body"
   {:font-family      :$sans-serif-font-stack
    :background-color :black}
   
  ;;  "code, .code"
  ;;  {:bgc :$code-background-color
  ;;   :c   :$code-color}
   
  ;;  ".dark code, .dark .code"
  ;;  {:bgc :$code-background-color-inverse
  ;;   :c   :$code-color-inverse}
   ]
  }
 }

