;; shadow-cljs configuration
{:deps
 {:aliases [:dev]}

 :dev-http
 {8020 "public"}

 :builds
 {:app
  {:devtools         {:log false}
   :target           :browser
   ;; :compiler-options {:output-feature-set :es8}
   :modules          {:main {:init-fn starter.browser/init}}
   :build-hooks      [
                      ;; Add Kushi build hook
                      (kushi.css.build.analyze/hook)

                      ;; This is optional but adds a nice build report for release builds
                      (shadow.cljs.build-report/hook
                       {:output-to "tmp/report.html"})]}}}
