;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.0.0"]
  [org.clojars.paintparty/kushi "0.1.3"] ; kushi dependency
  [binaryage/devtools "1.0.3"]]

 :dev-http
 {8020 "public"}

 :builds
 {:app
  {:target :browser
   :build-hooks [(kushi.core/kushi-debug)
                 (kushi.stylesheet/create-css-file)] ; kushi build hooks
   :build-options  {:cache-level :off} ; Setting {:cache-level :off} is required for `release` builds with kushi. See readme for details & options.
   :devtools {:preloads [starter.shared-styles]} ; Optionally preload your project's namespace that contains shared styles defined with kushi.core/defclass.
   :output-dir "public/js"
   :asset-path "/js"
   :modules
   {:main
    {:init-fn starter.browser/init}}}}}
