html, body, #app {
  /* height: 100%; */
  /* width: 100vw; */
}

body {
  margin: 0;
  /* transition: background-color 500ms cubic-bezier(); */
  /* height: 100%; */
}
body * {
  box-sizing: border-box;
  /* height: 100%; */
}
body.dark {background-color: rgb(44, 44, 44);}
